extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Synesthesia
    div.Message
      div.Title
        h3 Welcome Page
        h1 Hello!
      span.Details Please login below

    div.NavButtons
      a(href="/login")
          div.NavButton Login with Spotify